<div class = "_container imgSearch">
    <div class="_row --center champRecherche">
        <input name="search" placeholder="Rechercher un produit">
        <input name="dateD" placeholder="Date de datedébut">
        <input name="dateF" placeholder="Date de fin">
        
        <form>
            <select id="category" name="Catégories"></select>
        </form> 
        <form>
          <select id="lieu" name="lieu"></select>
        </form> 
    </div>
    <div class="boutonR">
      <button class="search"> Rechercher </button>
    </div>
  </div>