<div class="_container">
    <nav>
        <span class="nav_reservation">
            <h2>Connexion</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Récapitulatif de mon panier</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Paiement</h2>
        </span>

    </nav>

    <div>
        <div>
            <span>Colonne 1</span>
            <span>Colonne 2</span>
            <span>Colonne 3</span>
            <span>Colonne 4</span>
        </div>
    </div>
</div>

<div class="_container mb-5">
    <nav class="flex-justify-center py-5">
        <span class="reservation_nav_item">
            <h2>Connexion</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Récapitulatif de mon panier</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Paiement</h2>
        </span>
    </nav>

    <article>
        <div class="_row title-nav mb-3">
            <span class="_col3 pl-2">Produit</span>
            <span class="_col2 pl-12">Prix</span>
            <span class="_col2 pl-13">Quantité</span>
        </div>
        <article class="_reservation_item _row">
            <div class="imgReservation pl-2">
                <img src="../../../assets/ski.jpg">
            </div>
            <div class="res-product-info-container">
                <span>
                    Description produit
                </span>
                <span>
                    Prix 
                </div>
                <span>
                    Quantité
                </span>
            </div>

        </article>

        <div class="res-product-info-container py-5 ml-11">
            <div>
                <span class="medium-txt px-1">Dates : </span>
                <span class="date-info mx-1">01/01/2000</span>
                <span class="medium-txt px-1"> Au </span>
                <span class="date-info mx-1">01/01/2000</span>
            </div>
            <h2>Total de la commande : X€</h2>
        </div>

        <div class="flex-justify-content-self-center ">
            <button class="common">Annuler</button>
            <button class="common">Valider</button>
        </div>
    </article>
</div>
