<div class="_container">
    <nav>
        <span class="nav_reservation">
            <h2>Connexion</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Récapitulatif de mon panier</h2>
        </span>
        <span class="reservation_nav_item">
            <i class="fas fa-angle-right fa-3x"></i>
        </span>
        <span class="reservation_nav_item">
            <h2>Paiement</h2>
        </span>

    </nav>

    <div>
        <div>
            <span>Colonne 1</span>
            <span>Colonne 2</span>
            <span>Colonne 3</span>
            <span>Colonne 4</span>
        </div>
    </div>
</div>
