<div class="equipment-title-card my-5">
  <h1> Détail paiement du client </h1>
</div>

<table *ngIf="!listIsEmpty; else noCard " >
  <caption>Vos cartes de crédit et de débit</caption>
  <tr>
    <th>Nom du titulaire</th>
    <th>Numéro de carte</th>
    <th>Date d'expiration</th>
  </tr>
  <tr *ngFor="let payment of listPayment, index as i" (click)="selectMethod(payment)" [ngClass]="{'highlightRow' : payment.cardName == paymentSelectedName}" >
    <td>
      {{payment.cardName}}
    </td>
    <td>
      {{payment.cardNumber}}
    </td>
    <td>
      {{payment.expirationDate}}
    </td>
  </tr>

</table>

<ng-template #noCard>
  <div class="my-7 p-6 --center">
    <h2>Vous n'avez pas encore enregistré de carte de paiement.</h2>
  </div>
</ng-template>

<button (click)="changeCardBoolean()">{{showHideForm}}</button>

<div *ngIf="addCardBoolean">
  <form [formGroup]="cardForm" (ngSubmit)="onSubmitFormAddPayment()">

    <div class="form-group">
      <label for="cardNumber">Numéro de la carte</label>
      <input type="text" id="cardNumber" [ngClass]="{'field-error' : errorDetection('cardNumber')}" formControlName="cardNumber" required>
      <span class="tiny-txt" >Nombre de caractères : {{cardNumberChars}}/16</span>
      <span *ngIf="errorDetection('cardNumber')" class="field-error-message tiny-txt">{{messageErrorCardNumber}}</span>
    </div>

    <div class="form-group">
      <label for="name">Nom du propriétaire</label>
      <input type="text" [ngClass]="{'field-error' : errorDetection('name')}" id="name" formControlName="name" required>
      <span *ngIf="errorDetection('name')" class="field-error-message tiny-txt">{{messageErrorName}}</span>
    </div>

    <div class="form-group">
      <label>Date d'expiration</label>
      <ng-month-picker id="expirationDate" formControlName="expirationDate" (click)="isExpirationDateCorrect()"></ng-month-picker>
      <span *ngIf="errorDetection('expirationDate')" class="field-error-message tiny-txt">{{messageExpirationDate}}</span>

    </div>

    <div class="form-group">
      <label for="cvv">Numéro CVV</label>
      <input type="text" id="cvv" [ngClass]="{'field-error' : errorDetection('cvv')}" formControlName="cvv" required>
      <span class="tiny-txt" >Nombre de caractères : {{cardCvvChars}}/3</span>
      <span *ngIf="errorDetection('cvv')" class="field-error-message tiny-txt">{{messageErrorCVV}}</span>
    </div>

    <button type="submit"  class="btn btn-primary">Ajouter la carte</button>

  </form>

</div>
<span class="field-error-message tiny-txt">{{errorMessagePayment}}</span>
<div>
  <a (click)="goToReservation()">
    <button class="common">Revenir en arrière</button>
  </a>
  <a (click)="payEquipment()">
    <button class="common">Payer</button>
  </a>
</div>
