<div class = "py-7">
    <div class="pb-7 mx-5">
        <h2> 
            Sport&Co est une plateforme de location d’équpements sportifs. 
            Nous mettons en relation des loueurs de matériels sportifs et 
            des particuliers pour la location de materiels à petits prix.
        </h2>
    </div>
    <div class="pres-category">
        <article class="article-cat">
            <h2 class="title-cat pt-5">Catégories</h2>
            <div class="category-container">
                <div class="category-display">
                    <div class="category-container">
                        <input class="catImageButton" type="image" id="image"
                        src="../../../assets/velo.jpg"
                        (click)="onClick()">
                        <span class="pl-3"> Extérieur</span>
                    </div>
                    <div class="category-container">
                        <input class="catImageButton" type="image" id="image"
                        src="../../../assets/ski.jpg"
                        (click)="onClick()">
                        <span class="pl-3"> Hiver </span>
                    </div>
                </div>
                <div class="category-display">
                    <div class="category-container">
                        <input class="catImageButton" type="image" id="image"
                        src="../../../assets/surf.jpg"
                        (click)="onClick()">
                        <span class="pl-3"> Nautique</span>
                    </div>
                    <div class="category-container">
                        <input class="catImageButton" type="image" id="image"
                        src="../../../assets/sportsCollectifs.jpg">
                        <span class="pl-3"
                        (click)="onClick()"> Intérieur </span>
                    </div>
                </div>    
            </div>
        </article>
    </div>
</div>  