<div *ngIf="equipmentLoaded | async">

  <div class="equipment-title-card my-5">
    <h2> {{ equipment.name }} </h2>
  </div>

  <div class="equipment-card my-5">
    <div class="--center">
      <img [src]="urlBasic.concat(equipment.imageLink)" *ngIf="equipment.imageLink" />

      <h3>Loueur :  </h3>
      <span> {{ equipment.renter.companyName }} </span>

      <h3>Catégories : </h3>
      <span> {{ equipment.category.name }} </span>

      <h3>Description : </h3>
      <span> {{ equipment.description }} </span>
    </div>

    <div class="equipment-card my-5">
      <div class="--center">
        <div>
          <label-2>Quantité :</label-2>
          <button class="button-quantity" (click)="diminishQuantity()" [disabled]="quantityWanted === 1" l> <i class="fa fa-minus"></i> </button>
          <input type="text" [value]="quantityWanted" disabled>
          <button class="button-quantity" (click)="augmentQuantity()" [disabled]="quantityWanted === +this.equipment.totalQuantity" l><i class="fa fa-plus"></i> </button>
        </div>

        <div>
          <label-2>Prix </label-2>
          <span> {{ equipment.price }} € / Jour</span>
        </div>

        <br>

        <p *ngIf="isAvailable"> disponible </p>
        <p *ngIf="!isAvailable">non disponible </p>
      </div>
    </div>


    <div class="equipment-card-btn my-7">
      <button class="primary" (click)="goBack()"l> Retour </button>

      <button [class]="getButtonClass('rent')" (click)="rent()" [disabled]="!this.isAvailable" l>
        {{ this.isAvailable ? 'Louer' : 'Non disponible' }}</button>
    </div>

  </div>
</div>
