<div *ngIf="listEquipmentLoaded | async">
  <h1>Résultat de la recherche</h1>
  <button (click)="sortListEquipmentsByPriceAscendant()">Sort by Price Ascendant</button>
  <button (click)="sortListEquipmentsByPriceDescendant()">Sort by Price Descendant</button>
  <button (click)="sortListEquipmentsByName()">Sort by Price Descendant</button>
  <form [formGroup]="filtersForm" >
    <div >
      <select  name="optionsTri" formControlName="selectOption" id="optionsTri" (change)="sortOnChange('selectOption')">
        <option value="">Trie</option>
        <option *ngFor="let selectOption of selectOptions" [ngValue]="selectOption.name" >{{selectOption.name}}</option>
      </select>
    </div>
  </form>
  <div >
    <li *ngFor="let equipment of listEquipment; index as i"> name : {{equipment.name}}; ---- price = {{equipment.price}}; ---- image link : {{equipment.imageLink1}}
      <img [src]="urlBasic.concat(equipment.imageLink1)" *ngIf="equipment.imageLink1" />
    </li>

  </div>
</div>
