<div class="_container">
    <div class="_row bg--light-grey">
        <div class="footer-link --center">
            <div class="footer-link-item">
                <h3>A propos</h3>
                <ul>
                    <li><a routerLink="">Qui sommes nous ?</a></li>
                    <li><a routerLink="">Fonctionnement du site</a></li>
                    <li><a routerLink="">Informations légales</a></li>
                </ul>
            </div>
            <div class="footer-link-item">
                <h3>Nos engagements</h3>
                <ul>
                    <li><a routerLink="">Paiement sécurisé</a></li>
                    <li><a routerLink="">Meilleurs prix garantis</a></li>
                    <li><a routerLink="">Contact 7j/7</a></li>
                </ul>
            </div>
            <div class="footer-link-item">
                <h3>Assistance</h3>
                <ul>
                    <li><a routerLink="">Nous contacter</a></li>
                    <li><a routerLink="">Données personelles</a></li>
                    <li><a routerLink="">Conditions générales d'utilisation</a></li>
                </ul>
            </div>

        </div>

    </div>



</div>
