.title-nav {
    height: 35px; 
    width : 80%; 
    margin-left: 10%; 

}

.reservation_nav_item {
    height: 100%;
    color: $cyan;
    position: relative;
    top: 50%;
    margin-left: 2.5%; 
}

._reservation_item {
    background-color: $light-grey;
    height: 300px; 
    width: 80%;
    margin-left : 10%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.date-info {
    border: 1px solid $light-grey; 
    text-align: center;
    font-size: 20px;
    
}
