
<div class="--center">

    <form [formGroup]="clientForm" class="my-4">

        <div>
            <input type="text" formControlName="email" [ngClass]="{ 'field-error': errorDetection('email') }"
                   placeholder="Email" name="email" id="email" required />
            <span class="tiny-txt">Nombre de caractères : {{ emailChars }} / 250</span>
            <span *ngIf="errorDetection('email')" class="field-error-message tiny-txt">{{messageError2}}</span>
        </div>

        <div>
            <input type="password" formControlName="password" [ngClass]="{ 'field-error': errorDetection('password') }"
                    placeholder="Mot de passe" name="password" id="password" required />
            <span class="tiny-txt">Nombre de caractères : {{ passwordChars }} / 15</span>
            <span *ngIf="errorDetection('password')" class="field-error-message tiny-txt">{{messageError1}}</span>
         </div>
  
      
        </form>
  
    <a routerLink="/client-registration">Pas de compte ? Inscrivez-vous</a>
  
    <button class="common" (click)="onSubmit()">Se connecter</button>
  
  </div>
