main {
  display: block;
}

._container {
  display: block;
}
._row {
  width: 100%;
  flex-wrap: nowrap;
  ._col {
    margin: 0 auto;
    width: 300px;
  }
  ._col2 {
    margin: 0 auto;
    width: 300px;
  }
  ._col3 {
    margin: 0 auto;
    width: 300px;
  }
}

._grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.section-flex{
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-content-center{
  display: flex;
  justify-content: center;
}

.grid-only{
  display: grid;
}

.flex-justify-content-self-center{
  display: flex;
  justify-content: center;
  justify-self: center;
}
