main {
  display: block;
}

._container {
  display: block;
}
._row {
  display: flex;
  flex-wrap: nowrap;
  ._col {
    width: 50px;
  }
  ._col2 {
    width: 300px;
  }
  ._col3 {
    width: 300px;
  }
}


