main {
  display: block;
}

._container {
  display: block;
}
._row {
  width: 100%;
  flex-wrap: nowrap;
  ._col {
    margin: 0 auto;
    width: 300px;
  }
  ._col2 {
    margin: 0 auto;
    width: 300px;
  }
  ._col3 {
    margin: 0 auto;
    width: 300px;
  }
}

._productDetails {
  width: auto;
}

._productOther {
  width: 20%;
  img {
    width: 75px;
    margin: 5px;
    border: solid 1px grey;
  }
}


.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
