
nav {
    height: 80px; 
    display : flex; 
    flex-flow: nowrap;
    
    visibility: visible;
    align-items: center;
    height: 100%; 

    

    .right_nav_item{
        height: 100%;
        width: auto;
        &:hover{
            color: $cyan; 
            background-color: $light-grey;
        }
        &:focus{
            color: $cyan; 
            background-color: $light-grey;
        }
    }

    a {
        font-weight: 500; 
        font-size: 18px; 
        position: relative;
        margin : 25px; 
        display: inline-block;
        &:hover {
            color: $cyan; 
        }
        &:focus {
            color: $cyan; 
        }
    }
}
