<div class="_container imgAuth"></div>

<div class="mb-7">
  <h1>Connexion Administrateur</h1>
</div>

<div class="--center">
  <form [formGroup]="adminForm" class="my-4">
    <div class="my-5">
      <input class="input-connexion" type="text" formControlName="login" [ngClass]="{ 'field-error': errorDetection('login') }"
             placeholder="Nom d'utilisateur administrateur" name="login" id="login" required/>
      <br>
      <span class="tiny-txt ml-3">Nombre de caractères : {{ loginChars }} / 250</span>
      <span *ngIf="errorDetection('login')" class="field-error-message tiny-txt --center">{{ messageErrorLogin }}</span>
    </div>

    <div class="my-5">
      <input class="input-connexion" type="password" formControlName="password" [ngClass]="{ 'field-error': errorDetection('password') }"
             placeholder="Mot de passe" name="password" id="password" required/>
      <br>
      <span class="tiny-txt ml-3">Nombre de caractères : {{ passwordChars }} / 15</span>
      <span *ngIf="errorDetection('password')" class="field-error-message tiny-txt --center" >{{ messageErrorPassword }}</span>
    </div>
  </form>

  <div class="my-7">
    <button class="connexion" (click)="onSubmit()">Se connecter</button>
  </div>
</div>
