<div class="_container mb-5">
  <nav class="flex-justify-center py-5">
    <span class="reservation_nav_item">
        <h2> Paiement</h2>
    </span>
    <span class="reservation_nav_item">
        <i class="fas fa-angle-right fa-3x"></i>
    </span>
    <span class="reservation_nav_item">
        <h2>Confirmation</h2>
    </span>
  </nav>


  <h1>Votre commande a été validée.</h1>
  <h2>Vous allez recevoir un mail de confirmation sous peu</h2>
  <br>

  <div class="--center">
    <button class="common" (click)="goToHome()">Rechercher un nouvel équipement</button>
  </div>
</div>
