img {
  object-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgSearch {
  height: 100px;
  background-image: url("../images/fondRecherche.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgAuth {
  height: 300px;
}

.imgCategories {

  width: 150px;
  margin: 0 auto;
  img {
    width: 150px;
    margin: 50px;
  }
  width: 100%;
  display: flex;
}

.imgProduct {
  width: 80%;
}

.imgProductOther {
  width: 20%;
  border: solid 1px grey;
  height: inherit;

}

.imgRenter {
  height: auto;
  width: 100px;
}

.logo {
  height: auto;
  width: 100px;
}
