img {
  object-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imgSearch {
  height: 200px;
  background-image: url("../images/fondRecherche.png");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgAuth {
  height: 300px;
  background-image: url("../images/fondAuth.png");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgCategories {

  .outdoor {
    position: absolute;
    width: 90px;
    height: 60px;
    left: 22px;
    top: 250px;
    border-radius: 5px;
  }

  .winter {
    position: absolute;
    width: 90px;
    height: 60px;
    left: 201px;
    top: 250px;
    border-radius: 5px;
  }

  .nautical {
    position: absolute;
    width: 90px;
    height: 60px;
    left: 27px;
    top: 350px;
    border-radius: 5px;
  }

  .indoor {
    position: absolute;
    width: 90px;
    height: 60px;
    left: 206px;
    top: 350px;
    border-radius: 5px;
  }
}

.imgProduct {
  width: 100px;
  border: solid 1px;
}

.imgRenter {
  height: auto;
  width: 200px;
}

.imgProductOther {
  width: 40%;
  border: solid 1px grey;
  height: inherit;

}




